:root{
    --secondary: rgba(146, 204, 206, 1);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: lightgray!important;
}
.start_btn,.info_box,.quiz_box {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
    
}
.start_btn button{
    font-size: 25px;
    font-weight: 500 ;
    padding: 15px 30px;
    cursor:pointer;
    border-radius: 50%;
   
}

.info_box{
    display: none;
    width:740px;
    border-radius: 5px;
    background-color: #8ecae6;
}

.info_box .info-title{
    height:60px;
    
    width: 100%;
    border-bottom: 1px solid lightgray;
    display:flex;
    align-items: center;
    padding:0 35px;
    font-size: 20px;
    font-weight: 600;
}
.info_box .info_list{
    padding: 15px 35px ;
}
.info_box .info_list .info{
    margin :5px 0;
    font-size: 17px;
}
.info_box .info_list .info span{
    font-weight: 600;
    color: #023e8a;
}
.info_box .buttons{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid lightgray;
}
.info_box .buttons button{
    margin: 10px 5px;
    height: 40px;
    width: 100px;
    cursor:pointer;
    transition: all 0.3 ease;
}
.info_box .buttons .quit{
    color:blue;
    border-color:blue;
    background-color: cornsilk;
}
.quiz_box{
    display:none;
    width:550px;
    background: cornsilk;
    border-radius:5px;
}
.quiz_box header{
    height:70px;
    padding:0 30px;
    background: cornsilk;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgb(0,0,0,0.1);
}
.quiz_box header .title{
font-size: 20px;
font-weight: 500;
}
.quiz_box header .timer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height:45px;
    background: #8ecae6;
    border-radius: 5px;
    padding:0 8px;
  
}
.quiz_box section{
    padding:25px 30px 20px 30px;
   
}
.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 600;
}
.quiz_box section .option_list{
    padding:20px 0;
    display:block;
}
.quiz_box section .option_list .option{
    background-color: aliceblue;
    border:1px solid gray;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    transition: all 0.3 ease;
}
section .option_list .option:hover{
    color:blue;
    background-color: var(--secondary);
}
.quiz_box footer{
    height:60px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.quiz_box footer .total_que span{
    display:flex;
}
.quiz_box footer .total_que span p{
padding: 0 5px;
font-weight: 500;
}
.result_box{
    margin: 100px auto 0 auto;
    max-width: 600px;
}


button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #563d7c;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }

  /* .hide{
      display:none;
  } */
  


